.recipe {
  width: 600px;
  height: fit-content 700px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: whitesmoke;
  align-items: center;

  /* min-width: 40%; */
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.buttonc {
  background: rgb(253, 193, 193);
  height: 30px;
  width: 70px;
  font-size: large;
  font-style: oblique;
  /* font-weight: 500; */
}
.buttonc:hover {
  background: rgb(37, 3, 3);
  color: white;
}
